<a href="https://clips4sale.com/tools/clipcash/tribute.php?producer={{ storeId }}"
       data-producer="{{ storeId }}"
       class="c4s-tribute-link"
       data-width="{{ width }}"
       data-text="{{ text }}"
       data-scheme="light"
       data-amount="{{ amount }}">{{ text }}</a>
    <script>!function(d){var i,s="script",e=d.getElementsByTagName(s)[0],a="c4s-tribute-btn";if(!d.getElementById(a)){i=d.createElement(s);i.id=a;i.src="//clips4sale.com/tools/clipcash/tributeBtn.js";e.parentNode.insertBefore(i,e);}}(document);</script>
